/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita", sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  border: none;
  outline: none;
  color: inherit;
  background: transparent;
}
.icon {
  filter: var(--icon-color);
}
