/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-color: #ff0000;
  --icon-color: brightness(0) saturate(100%) invert(12%) sepia(99%)
    saturate(4044%) hue-rotate(355deg) brightness(120%) contrast(119%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita", sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  border: none;
  outline: none;
  background: transparent;
}
.icon{
    filter: var(--icon-color);
}